
		.top{
    
    height: 120px;
    width:100%;
    margin-left: 0;
    background:white;
    position:absolute; 
    top: 0px;
    margin-bottom: 1px;
    font-family: "微软雅黑";
    font-size: 20px;
    font-weight: bold;
    border-bottom: 4px solid blueviolet
}.top .zise {background-color: blueviolet;height: 87px}
.top .zise h4{color: #FFFFFF;margin-top: 0px;}
.top ul{
   
    width: auto;
    list-style-type: none;
    white-space:nowrap;
    overflow: hidden;
    margin-left: 500px;
  
    padding: 0;


}

.top li {
    float:left; 
    margin-right:10%; 
    position: relative;
   
    overflow: hidden;
}

img{position: absolute;top: -10px;left:120px;width: 250px;position:absolute; }
#anniu{position: absolute;top: 620px;left: 530px;}

.top li a{
  
    display: block; 
    color:black;
    text-align: center;
    padding: 30px;
    overflow: hidden;
    text-decoration: none; 
    
}
.top li a:hover{
   
    background-color: blueviolet;
    color: white;
}



#bacground{
	width: 100%;
	height: 2160px;
	background-color:gainsboro;
}
#artical-1{
	position:absolute;
	width: 820px;
	height: 1700px;
	background-color: #FFFFFF;
	top: 20%;
	left: 16%;

}

#h1{
	position: absolute;
	color:blueviolet;
	font-family:"黑体";
	width: 100%;
	text-align: center;
}
#h2{
	position: absolute;
	font-family: "微软雅黑";
	top: 80px;
	left: 15px;
}
#aritical-1{
	position: absolute;
	font-family: "微软雅黑";
	top: 120px;
	left: 15px;
}
#h3{
	position: absolute;
	font-family: "微软雅黑";
	top: 250px;
	left: 15px;
}
#aritical-2{
	position: absolute;
	font-family: "微软雅黑";
	top: 310px;
	left: 15px;
}
#h4{
	position: absolute;
	font-family: "微软雅黑";
	top: 400px;
	left: 15px;
}
#h5{
	position: absolute;
	font-family: "微软雅黑";
	top: 750px;
	left: 25px;
}
#aritical-3{
	position: absolute;
	font-family: "微软雅黑";
	top: 800px;
	left: 15px;
}
#h6{
	position: absolute;
	font-family: "微软雅黑";
	top: 1180px;
	left: 20px;
}
#aritical-4{
	position: absolute;
	font-family: "微软雅黑";
	top: 1250px;
	left: 15px;
}
#h7{
	position: absolute;
	font-family: "微软雅黑";
	top: 2000px;
}
#word{
	position: absolute;
	font-family: "微软雅黑";
	top: 1600px;
	left: 330px;
	width: 100px;
	height: 35px;
	text-align: center;
	background-color: crimson;
	border-radius: 15px;
	padding-top: 10px;
	font-size: 20px;
	color: #FFFFFF;
}
#time{
	position: absolute;
	width: 40px;
	height: 20px;
	top: 20%;
	right: 22%;
}
#shousuo{
	position: absolute;
	width: 300px;
	height: 200px;
	right: 5%;
	top: 28%;
	background-color:white;
	
}
#word-5{
	position: absolute;
	width: 280px;
	height: 50px;
	background-color: blueviolet;
	
	font-family: "黑体";
	color: #FFFFFF;
	padding-left: 20px;
}
#table{
	position: absolute;
	width: 300px;
	height: 100px;
	top: 33%;
	left: 8%;
}
#changyonglianjie{
	position: absolute;
	width: 300px;
	height: 250px;
	top: 64%;
	right: 5%;
	background-color: #FFFFFF;
	border-radius: 10px;
}
#word-6{
	position: absolute;
	width:280px;
	height: 50px;
	background-color: #6495ED;
	border-radius: 10px;
	font-family: "黑体";
	color: #FFFFFF;
	padding-left: 20px;
}
#word-7{
	font-size: 14px;
	font-family: "微软雅黑";
	position: absolute;
	width: 300px;
	height: 40px;
	border-bottom: dotted 1px #6495ED;
	top: 18%;
}
#word-8{
	font-size: 14px;
	font-family: "微软雅黑";
	position: absolute;
	width: 300px;
	height:40px;
	border-bottom: dotted 1px #6495ED;
	top: 33%;
}
#word-9{
	font-size: 14px;
	font-family: "微软雅黑";
	position: absolute;
	width: 300px;
	height: 40px;
	border-bottom: dotted 1px #6495ED;
	top: 48%;
}
#word-10{
	font-size: 14px;
	font-family: "微软雅黑";
	position: absolute;
	width: 300px;
	height: 40px;
	border-bottom: dotted 1px #6495ED;
	top: 63%;
}
#word-11{
	font-size: 14px;
	font-family: "微软雅黑";
	position: absolute;
	width: 300px;
	height: 40px;
	top: 79%;
}
#word-7 a:hover{
	text-decoration: none;
	color: #FF8C00;
}
#word-8 a:hover{
	text-decoration: none;
	color: #FF8C00;
}
#word-9 a:hover{
	text-decoration: none;
	color: #FF8C00;
}
#word-10 a:hover{
	text-decoration: none;
	color: #FF8C00;
}
#word-11 a:hover{
	text-decoration: none;
	color: #FF8C00;
}


#word-7 a:link,a:visited{
	text-decoration: none;
}
#word-8 a:link,a:visited{
	text-decoration: none;
}
#word-9 a:link,a:visited{
	text-decoration: none;
}
#word-10 a:link,a:visited{
	text-decoration: none;
}
#word-11 a:link,a:visited{
	text-decoration: none;
}
